body{
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
width: 500px;
display: block;
margin-left: auto;
margin-right: auto;
border-bottom: 6px solid #f2f4f3;
border-radius: 4px;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 7px;
    background-color: #f2f4f3;
    color: #22333b;
    height: 50px;
    p{
        margin-top: 9px;
        margin-left: 49px;
        text-align: center;
    }
}

.card{
    display: flex;
    justify-content: space-between;
    background-color: #22333b;
    color: #f2f4f3;
    text-align: center;
    img{
        width: 165px;
    }
}